@import "vars";
@import "fonts";

*{
    @include default;
    font-family: $pageFont;
}
header{
    @include flex-row;
    width: 100%;
    height: 120px;
    background-color: #000;
    span,input,select,label{
        background-color: #fff;
        height: 25px;
        margin: 0 25px;
    }
}
main{
   @include flex-row;
   justify-content: center;
   background-color: #191919;
   width: 100%;
   min-height: calc(100vh - 120px);

   .container{
       @include flex-row;
       flex-wrap: wrap;
       position: relative;
       justify-content: space-around;
       width: 70%;
       height: 100%;
       .error{
        position: absolute;
        background-color: #fff;
        background-position: center;
        background-size: cover;
        background-image: url("https://img.freepik.com/free-vector/400-error-bad-request-concept-illustration_114360-1933.jpg?size=338&ext=jpg");
        height: 250px;
        width: 320px;
        button{
            width: 50px;
            height: 100px;
            font-weight: bold;
            background-color: antiquewhite;
            border-radius: 20px;
            box-shadow: 1px 1px 5px #000;
        }
       }
       .album{
           @include flex-col;
           margin: 20px;
           width: 300px;
           height: 400px;
           background-color: #000;
           .cover{
               @include flex-row;
               justify-content: center;
               height: 60%;
               width: 100%;
               img{
                   height: 100%;
               }
           }
           .title,.author,.year{
               height: 13% ;
               width: 100%;
               text-align: center;
               color: #fff;
               padding-top: 20px;  
           }
           .author{
               color: #303030;
           }
       }
   }
}